.barChart {
    padding: var(--medium-padding);
    width: 100%;

}

.innerBarChart {
    background: var(--Dark);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: var(--White);
    padding: var(--medium-padding);
    border-radius: var(--border-radius);
}

.bar_representation {
    width: 50px;
    background: var(--Bright);
}