.sidewaysTableWrapper th {
    background-color: var(--Bright);
}

.sidewaysTableWrapper td {
    background-color: var(--Dark);
    color: var(--White);
}

.sidewaysTableWrapper table, .sidewaysTableWrapper th, .sidewaysTableWrapper td {
    border: none;
    text-align: left;
    border-collapse: collapse;
    margin: 0;
    width: 100%;
    padding: 20px;
}

.sidewaysTableWrapper table {
    border-radius: 1em;
    overflow: hidden;
}

.sidewaysTableWrapper th, .sidewaysTableWrapper td {
    height: 60px;
    width: 50%;
}

.sidewaysTableWrapper {
    width: 100%;
    padding: 50px;
}