.resultTableWrapper table, .resultTableWrapper th, .resultTableWrapper td {
    border: 1px solid;
    border-collapse: collapse;
    margin: 0;
    width: 100%;

}

.resultTableWrapper th, .resultTableWrapper td {
    height: 60px;
    width: 50%;
}

.resultTableWrapper {
    width: 100%;
    padding: 50px;
}