.app {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url("./media/bg.jpg");
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 800px;
  min-width: 500px;
}